<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	</head>
	<body>
		<div layout:fragment="emptyrepo">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span style="font-weight: bold;">Empty Repository</span>
					</h3>
				</div>
				<div class="panel-body">
					This is an empty repository.
				</div>
			</div>
		</div>
	</body>
</html>