<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	</head>
	<body>
		<div layout:fragment="header">
			<h1 th:text="${repo.owner} + ' / ' + ${repo.displayName}">owner / name</h1>
			<div class="panel panel-default">
	  			<div class="panel-body">
	  				<label for="checkoutUrl">URL</label>
	  				&nbsp;
	  				<input class="form-control" id="checkoutUrl" type="text" readonly="readonly" th:value="${checkoutUrl}"></input>
				</div>
				<div class="panel-footer">
					<a th:href="@{/repo/} + ${repo.interfaceBaseUrl}">summary</a>
					&nbsp;&nbsp;
					<a th:href="@{/repo/} + ${repo.interfaceBaseUrl} + '/tree'">tree</a>
					&nbsp;&nbsp;
					<a th:href="@{/repo/} + ${repo.interfaceBaseUrl} + '/log'">log</a>
				</div>
			</div>
		</div>
	</body>
</html>