<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	</head>
	<body>
		<div layout:fragment="header">
			<div class="page-header">
				<span class="h2" th:text="${repo.owner} + ' / ' + ${repo.displayName}">owner / name</span>
				&nbsp;&nbsp;
				<blockquote style="display: inline-block; vertical-align: middle;">
					<p class="h5" th:text="${checkoutUrl}"></p>
				</blockquote>
			</div>			
		    <div th:if="${!repo.commits}" layout:include="git/fragments/emptyrepo :: emptyrepo">
			</div>
		</div>
	</body>
</html>