<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">
                <span style="font-weight: bold;">Server Runtime Information</span>
            </h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <b>Memory</b>
                    <p><span>Total Memory</span><span th:text="'(' + ${#numbers.formatInteger(gauges['jvm.memory.total.used'].value / 1000000, 0)} + 'M / ' + ${#numbers.formatInteger(gauges['jvm.memory.total.max'].value / 1000000, 0)} + 'M)'"></span></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             th:style="'width: ' + ${gauges['jvm.memory.total.used'].value} * 100 / ${gauges['jvm.memory.total.max'].value} + '%'">
                            <span th:text="${#numbers.formatInteger(gauges['jvm.memory.total.used'].value * 100 / gauges['jvm.memory.total.max'].value, 0)} + '%'"></span>
                        </div>
                    </div>
                    <p><span>Heap Memory</span><span th:text="'(' + ${#numbers.formatInteger(gauges['jvm.memory.heap.used'].value / 1000000, 0)} + 'MB / ' + ${#numbers.formatInteger(gauges['jvm.memory.heap.max'].value / 1000000, 0)} + 'MB)'"></span></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             th:style="'width: ' + ${gauges['jvm.memory.heap.usage'].value} * 100 + '%'">
                            <span th:text="${#numbers.formatInteger(gauges['jvm.memory.heap.usage'].value * 100, 0)} + '%'"></span>
                        </div>
                    </div>
                    <p><span>Non-Heap Memory</span><span th:text="'(' + ${#numbers.formatInteger(gauges['jvm.memory.non-heap.used'].value / 1000000, 0)} + 'MB / ' + ${#numbers.formatInteger(gauges['jvm.memory.non-heap.committed'].value / 1000000, 0)} + 'MB)'"></span></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             th:style="'width: ' + ${gauges['jvm.memory.non-heap.committed'].value} / 1000000 + '%'">
                            <span th:text="${#numbers.formatInteger(gauges['jvm.memory.non-heap.used'].value * 100 / gauges['jvm.memory.non-heap.committed'].value, 0)} + '%'"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <strong>Threads </strong><span th:text="'(Total: ' + ${gauges['jvm.threads.count'].value} + ')'"></span>
                    <p><span>Runnable </span><span th:text="${gauges['jvm.threads.runnable.count'].value}"></span></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             th:style="'width: ' + ${gauges['jvm.threads.runnable.count'].value} * 100 / ${gauges['jvm.threads.count'].value} + '%'">
                            <span th:text="${#numbers.formatInteger(gauges['jvm.threads.runnable.count'].value * 100 / gauges['jvm.threads.count'].value, 0)} + '%'"></span>
                        </div>
                    </div>
                    <p><span>Timed Waiting </span><span th:text="${gauges['jvm.threads.timed_waiting.count'].value}"></span></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar"
                             th:style="'width: ' + ${gauges['jvm.threads.timed_waiting.count'].value} * 100 / ${gauges['jvm.threads.count'].value} + '%'">
                            <span th:text="${#numbers.formatInteger(gauges['jvm.threads.timed_waiting.count'].value * 100 / gauges['jvm.threads.count'].value, 0)} + '%'"></span>
                        </div>
                    </div>
                    <p><span>Waiting </span><span th:text="${gauges['jvm.threads.waiting.count'].value}"></span></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar"
                             th:style="'width: ' + ${gauges['jvm.threads.waiting.count'].value} * 100 / ${gauges['jvm.threads.count'].value} + '%'">
                            <span th:text="${#numbers.formatInteger(gauges['jvm.threads.waiting.count'].value * 100 / gauges['jvm.threads.count'].value, 0)} + '%'"></span>
                        </div>
                    </div>
                    <p><span>Blocked </span><span th:text="${gauges['jvm.threads.blocked.count'].value}"></span></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar"
                             th:style="'width: ' + ${gauges['jvm.threads.blocked.count'].value} * 100 / ${gauges['jvm.threads.count'].value} + '%'">
                            <span th:text="${#numbers.formatInteger(gauges['jvm.threads.blocked.count'].value * 100 / gauges['jvm.threads.count'].value, 0)} + '%'"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <strong>Garbage Collection</strong>
                    <div class="row">
                        <div class="col-md-5">Mark Sweep count</div>
                        <div class="col-md-7 text-right" th:text="${gauges['jvm.gc.PS-MarkSweep.count'].value}"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Mark Sweep time</div>
                        <div class="col-md-7 text-right" th:text="${gauges['jvm.gc.PS-MarkSweep.time'].value} + 'ms'"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Scavenge count</div>
                        <div class="col-md-7 text-right" th:text="${gauges['jvm.gc.PS-Scavenge.count'].value}"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Scavenge time</div>
                        <div class="col-md-7 text-right" th:text="${gauges['jvm.gc.PS-Scavenge.time'].value} + 'ms'"></div>
                    </div>
                    <br />
                    <br />
                    <strong>JVM Information</strong>
                    <div class="row">
                        <div class="col-md-5">Uptime</div>
                        <div class="col-md-7 text-right" th:text="${jvm['uptime']}"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Start</div>
                        <div class="col-md-7 text-right" th:text="${jvm['start']}"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">VM Name</div>
                        <div class="col-md-7 text-right" th:text="${jvm['name']}"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">VM Spec Vendor</div>
                        <div class="col-md-7 text-right" th:text="${jvm['spec.vendor']}"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">VM Spec Version</div>
                        <div class="col-md-7 text-right" th:text="${jvm['spec.version']}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>