<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title th:if="${repo != null}" th:text="${repo.owner} + ' / ' + ${repo.displayName}">owner / name</title>
        <title th:if="${repo == null}">GitShark</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" th:href="@{/css/bootstrap-yeti-3.3.5.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.4.0/css/font-awesome.min.css}" />
        <link rel="stylesheet" th:href="@{/css/gitserver.css}" />

        <!--[if !IE]><!-->
            <script type="text/javascript" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <!--<![endif]-->
        <!--[if gt IE 8]>
            <script type="text/javascript" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <![endif]-->
        <!--[if lte IE 8]>
            <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
        <![endif]-->
        
        <script type="text/javascript" th:src="@{/webjars/modernizr/2.8.3/modernizr.min.js}"></script>
        
        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/timeago.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/zeroclipboard/2.2.0/ZeroClipboard.min.js}"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lte IE 8]>
          <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script th:src="@{/js/clipboard.js}"></script>

    </head>
    <body>
        <div class="wrapper">
            <div id="top" layout:include="fragments/header :: header">Header</div>
            <div class="page-wrapper">
                <div class="container-fluid main-content">
                    <div th:if="${successStatus != null}" class="alert alert-dismissable alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <span th:text="${successStatus}">Success!</span>
                    </div>
                    <div th:if="${failureStatus != null}" class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <span th:text="${failureStatus}">Failure!</span>
                    </div>
                    <div th:class="${repo == null and admin == null ? '' : 'row'}">
	                    <div th:if="${repo != null or admin != null}" layout:include="fragments/sidenav :: menu">Menu</div>
	                    <div th:class="${repo == null and admin == null ? '' : 'col-sm-10'}" layout:fragment="content">Content</div>
                    </div>
                    <div id="bottom" layout:include="fragments/footer :: footer">Footer</div>
                </div>
            </div>
        </div>
    </body>
</html>