<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
<div layout:fragment="footer">
      <hr />
      &copy;2015 Quantasnet - <span style="font-size: 10px" th:text="${application.serverName}">server name</span>
      <br />
      <br />
	  <div class="alert alert-danger">
		  This system is in ALPHA, expect that there may be data loss due to updates, etc.
	  </div>
</div>
</body>
</html>