.main-content {
	padding-top: 55px;
}

.page-header {
	margin: 0;
}

table,.label,.navbar,pre {
	font-size: 15px;
}

.navbar-brand {
	width: 130px;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus,
.navbar-brand:hover, 
.navbar-brand:focus {
	outline: none;
	background-color: #555 !important;
}

.merged {
	color: #cccccc;
}

.giturl {
	margin-top: 0;
}