.main-content {
	padding-top: 55px;
}

.page-header {
	margin: 0;
}

.commitMessage {
	border: none;
}

.hunk-table>thead>tr>td, .hunk-table>tbody>tr>td, .hunk-table>tfoot>tr>td {
	line-height: 1.0;
}

.hunk-table>tbody>tr>td {
	border: 0;
}

.hunk-header {
	background-color: #f4f7fb;
}

.deletion {
	background-color: #ffecec;
}

.addition {
	background-color: #eaffea;
}

code {
	background-color: inherit;
}

table,.label,.navbar,pre {
	font-size: 15px;
}

.navbar-brand {
	width: 130px;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus,
.navbar-brand:hover, 
.navbar-brand:focus {
	outline: none;
	background-color: #555 !important;
}

.merged {
	color: #cccccc;
}

.giturl {
	margin-top: 0;
}