<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	</head>
	<body>
		<div layout:fragment="breadcrumbs">
			<i class="fa fa-code-fork"></i>
			<select id="branchDropdown" class="form-control" style="display: inline; width: 10%;">
		   		<option th:each="aBranch : ${branches}" th:value="${aBranch}" th:text="${aBranch}" th:selected="${branch == aBranch}">branch</option>
		    </select>
			<span th:each="crumb : ${breadcrumbs}">
				<a th:if="${crumb.link}" th:href="${crumb.url}" th:text="${crumb.name}"></a>
				<span th:if="${!crumb.link}" th:text="${crumb.name}"></span>
				<span th:if="${crumb.link}">/</span>
			</span>
		</div>
	</body>
</html>