<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<script type="text/javascript" th:src="@{/webjars/highlightjs/8.4-4/highlight.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/highlightjs/8.4-4/styles/github.min.css}" />
	<script>
		$(document).ready(function() {
			$('pre.file').each(function(i, block) {
			  hljs.highlightBlock(block);
			});
		});
	</script>
	<style>
		table.committerInfo td,th {
			padding: 3px;
		}
	</style>
</head>
<body>
<div layout:fragment="content">
    <div layout:include="git/fragments/header :: header">
    	Git Header here
    </div>
   	<div class="panel panel-default" th:if="${hasCommits}">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span style="font-weight: bold;">Branches</span>
			</h3>
		</div>
		<table class="table">
			<tr th:each="branch : ${branches}">
				<td th:text="${branch}">
				</td>
				<td>
					<a th:href="@{/repo/} + ${repo.interfaceBaseUrl} + '/tree/' + ${branch}">tree</a>
				</td>
			</tr>
		</table>
	</div>
	 <a th:href="@{/repo/} + ${repo.interfaceBaseUrl} + '/branch/create'" class="btn btn-default btn-md" role="button">Create Branch</a>
</div>
</body>
</html>