<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
</head>
<body>
<div layout:fragment="content">
    <div layout:include="git/fragments/header :: header">
    	Git Header here
    </div>
   	<div class="panel panel-default" th:if="${commit != null}">
		<div class="panel-heading">
			<span class="panel-title">
				<span style="font-weight: bold;" th:text="${commit.commit.shortMessage}"></span>
			</span>
		</div>
		<div class="panel-heading" th:if="${!#strings.isEmpty(commit.messageBody)}">
			<pre class="commitMessage" th:text="${commit.messageBody}">
			</pre>
		</div>
  		<div class="panel-body">
			<span class="pull-left">
				<img th:src="${commit.gravatarUrl} + '&amp;s=25'" th:alt="${commit.authorName} + ' Avatar'" />
				&nbsp;
				<span th:text="${commit.authorName} + ' - ' + ${commit.commit.authorIdent.when}"></span>
			</span>
			<span class="pull-right">
				Parent(s):&nbsp;
				<span th:if="${!#lists.isEmpty(commit.parents)}" th:each="parent : ${commit.parents}">
					<a th:href="@{/repo/} + ${parent.url}" th:text="${parent.shortId}"></a>&nbsp;
				</span>
				Commit:&nbsp;
				<span th:text="${commit.shortId}"></span>
			</span>
		</div>
	</div>
   	<div class="panel panel-default" th:if="${diffs == null}">
  		<div class="panel-body">
   			<h1>Commit not found!</h1>
		</div>
	</div>
	<div th:if="${diffs != null}" th:each="diff : ${diffs}">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" style="font-weight: bold">
					<a th:href="@{/repo/} + ${repo.interfaceBaseUrl} + '/tree/master/' + ${diff.fileName} + '?file=true'" th:text="${diff.fileName}"></a>
					&nbsp;&nbsp;
					<span class="pull-right">
						<span th:text="${diff.changeType}"></span>
						<span class="label label-success" th:text="'+ ' + ${diff.additions}"></span>
						<span class="label label-danger" th:text="'- ' + ${diff.deletions}"></span>
					</span>
				</h3>
			</div>
			<table class="table table-hover hunk-table" th:each="hunk : ${diff.hunks}">
				<thead>
					<tr class="label-primary">
						<td colspan="2" th:text="${hunk.header}"></td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="line : ${hunk.contentsLines}" th:class="${line.add ? 'label-success' : line.delete ? 'label-danger' : ''}">
						<td th:if="${line.add}">+</td>
						<td th:if="${line.delete}">-</td>
						<td th:if="${!line.add and !line.delete}">&nbsp;</td>
						<td th:utext="${line.text}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>