<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
	<script th:src="@{/webjars/prettify/4-Mar-2013/run_prettify.js}"></script>
	<script type="text/javascript" th:src="@{/js/branchchange.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div layout:include="git/fragments/header :: header">
    	Git Header here
    </div>
	<div class="panel panel-default" th:if="${file != null and file.commit != null}">
		<div class="panel-heading">
			<span class="panel-title">
				<span style="font-weight: bold;" th:text="${file.commit.shortMessage}"></span>
			</span>
		</div>
		<div class="panel-heading" th:if="${!#strings.isEmpty(file.messageBody)}">
			<pre class="commit-message" th:text="${file.messageBody}">
			</pre>
		</div>
		<div class="panel-body">
			<span class="pull-left">
				<img th:src="${file.gravatarUrl} + '&amp;s=25'" th:alt="${file.authorName} + ' Avatar'" />
				&nbsp;
				<span th:text="${file.authorName} + ' - ' + ${file.commit.authorIdent.when}"></span>
			</span>
			<span class="pull-right">
				Parent(s):&nbsp;
				<span th:if="${!#lists.isEmpty(file.parents)}" th:each="parent : ${file.parents}">
					<a th:href="@{/repo/} + ${parent.url}" th:text="${parent.shortId}"></a>&nbsp;
				</span>
				Commit:&nbsp;
				<a th:href="@{/repo/} + ${file.commitUrl}" th:text="${file.shortId}"></a>
			</span>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title" style="font-weight: bold;" layout:include="git/fragments/breadcrumbs :: breadcrumbs">
			breadcrumbs
			</div>
		</div>
		<div class="panel-heading">
			<a th:href="@{/repo/} + ${repo.interfaceBaseUrl} + '/raw/' + ${branch} + '/' + ${file.name}">raw</a>
			&nbsp;|&nbsp;
			<a th:href="@{/repo/} + ${repo.interfaceBaseUrl} + '/raw/' + ${file.commit.id.name} + '/' + ${file.name}">permalink</a>
			&nbsp;|&nbsp;
			<a th:href="@{/repo/} + ${repo.interfaceBaseUrl} + '/tree/' + ${file.commit.id.name}">tree</a>
			&nbsp;|&nbsp;
			<a th:href="@{/repo/} + ${repo.interfaceBaseUrl} + '/history/' + ${file.commit.id.name} + '/' + ${file.name}">history</a>
		</div>
  		<div class="panel-body">
  			<div th:if="${file == null}" class="container" style="text-align: center;">
				<h4>
					<i class="fa fa-fw fa-code-fork"></i>
					This file did not exist at this point in time.
				</h4>
    		</div>
    		<img th:if="${mediaType != null}" style="max-width: 100%" th:src="'data:' + ${mediaType} + ';base64,' + ${base64contents}" alt="" />
    		<div class="alert alert-danger" th:if="${rawError != null}" th:text="${rawError}"></div>
  			<pre class="prettyprint linenums" th:if="${specialmarkup == null and file != null and mediaType == null and rawError == null}" th:text="${file.fileContents}"></pre>
			<div class="special-markup-section" th:if="${specialmarkup != null}" th:utext="${specialmarkup}"></div>
		</div>
	</div>
</div>
</body>
</html>