<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<script type="text/javascript" th:src="@{/webjars/highlightjs/8.4-4/highlight.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/highlightjs/8.4-4/styles/github.min.css}" />
	<script>
		$(document).ready(function() {
			$('pre').each(function(i, block) {
			  hljs.highlightBlock(block);
			});
		});
	</script>
	<style>
		table.committerInfo td,th {
			padding: 3px;
		}
	</style>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${repo.owner} + ' / ' + ${repo.displayName}">owner / name</h1>
    <hr />
    Git URL : <input type="text" size="60" readonly="readonly" th:value="${#httpServletRequest.scheme} + '://' + ${repo.owner} + '@' + ${#httpServletRequest.serverName} + ':' + ${#httpServletRequest.serverPort} + '/repo/' + ${repo.owner} + '/' + ${repo.name}"></input>
    <hr />
    <div th:if="${file == null}">
    	<h1>File not found!</h1>
    </div>
    <div th:if="${file != null}">
    	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span style="font-weight: bold;">Commit Information</span>
				</h3>
			</div>
	  		<div class="panel-body">
	  			<table class="committerInfo">
	    			<tr>
	    				<th>Commit ID</th>
	    				<td th:text="${file.commit.id.name}"></td>
	    			</tr>
	    			<tr>
	    				<th>Committer</th>
	    				<td th:text="${file.commit.committerIdent.name} + ' &lt;' + ${file.commit.committerIdent.emailAddress} + '&gt; ' + ${file.commit.committerIdent.when}"></td>
	    			</tr>
	    			<tr>
	    				<th>Author</th>
	    				<td th:text="${file.commit.authorIdent.name} + ' &lt;' + ${file.commit.authorIdent.emailAddress} + '&gt; ' + ${file.commit.authorIdent.when}"></td>
	    			</tr>
	    			<tr>
	    				<th>Message</th>
	    				<td th:text="${file.commit.fullMessage}"></td>
	    			</tr>
	    		</table>
			</div>
		</div>
   	   	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span style="font-weight: bold;" th:text="${file.name}"></span>
				</h3>
			</div>
	  		<div class="panel-body">
	  			<pre th:text="${file.fileContents}"></pre>
			</div>
		</div>
    </div>
</div>
</body>
</html>