<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<script type="text/javascript" th:src="@{/js/branchchange.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div layout:include="git/fragments/header :: header">
    	Git Header here
    </div>
   	<div th:if="${repo.commits}" class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title" style="font-weight: bold;" th:with="skipBranchSelector=true,prefixTitle='File History For '" layout:include="git/fragments/breadcrumbs :: breadcrumbs">
				breadcrumbs
			</div>
		</div>
    	<table class="table table-hover">
	   		<tr th:each="commit : ${history}" th:class="${commit.merge ? 'merged' : ''} + ${commit.commit.id.name eq historyPos ? ' history-selected' : ''}">
	   			<td>
	   				<img th:src="${commit.gravatarUrl} + '&amp;s=25'" data-toggle="tooltip" data-placement="right" th:title="${commit.authorName}" th:alt="${commit.authorName + ' Avatar'}" />
	   			</td>
	   			<td>
	   				<time class="timeago" th:attr="datetime=${commit.dateTimeString}" data-toggle="tooltip" data-placement="right" th:title="${commit.committer.when}"></time>
	   			</td>
	   			<td>
					<a th:href="@{'/repo/'} + ${commit.commitUrl}" th:text="${commit.shortId}"></a>
					&nbsp;&nbsp;
					<span class="badge" th:if="${commit.merge}">Merge</span>
				</td>
	   			<td th:text="${commit.commit.shortMessage}"></td>
	   			<td style="text-align: center;">
					<a th:if="${commit.branchHead != null}" th:href="@{/repo/} + ${repo.interfaceBaseUrl} + '/tree/' + ${commit.branchHead}" class="label label-primary" th:text="${commit.branchHead}"></a>
   				</td>
	   		</tr>
	   	</table>
	</div>
</div>
</body>
</html>