<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<script type="text/javascript" th:src="@{/js/timeago.min.js}"></script>
	<script>
		$(document).ready(function() {
			$("time.timeago").timeago();
		});
	</script>
</head>
<body>
<div layout:fragment="content">
    <div layout:include="git/fragments/header :: header">
    	Git Header here
    </div>
   	<div th:if="${hasCommits}" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span style="font-weight: bold;">Log</span>
			</h3>
		</div>
    	<table class="table">
	   		<tr th:each="commit : ${commits}">
	   			<td>
	   				<img th:src="${commit.gravatarUrl} + '&amp;s=25'"></img>
	   			</td>
	   			<td>
	   				<time class="timeago" th:attr="datetime=${commit.dateTimeString}"></time>
	   			</td>
	   			<td th:text="${commit.commit.shortMessage}"></td>
				<td th:text="${commit.shortId}"></td>
	   		</tr>
	   	</table>
	</div>
</div>
</body>
</html>