<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div layout:fragment="content">
    <div layout:include="git/fragments/header :: header">
    	Git Header here
    </div>
   	<div th:if="${repo.commits}" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span style="font-weight: bold;">Activity</span>
			</h3>
		</div>
    	<table class="table table-hover">
	   		<tr th:each="log : ${logs}">
	   			<td>
	   				<img th:src="${log.gravatarUrl} + '&amp;s=25'" data-toggle="tooltip" data-placement="right" th:title="${log.committerName}"></img>
	   			</td>
	   			<td>
	   				<time class="timeago" th:attr="datetime=${log.dateTimeString}"></time>
	   			</td>
	   			<td th:text="${log.comment}">
	   			
	   			</td>
	   			<td th:text="${log.branch}">
	   				Branch
	   			</td>
	   			<td>
	   				<span th:each="commit : ${log.commits}">
	   					<a th:href="@{/repo/} + ${commit.commitUrl}" th:text="${commit.shortId}"></a>
	   					&nbsp;-&nbsp;
	   					<span th:text="${commit.commit.shortMessage}"></span>
	   					<br />
	   				</span>
				</td>
	   		</tr>
	   	</table>
	</div>
</div>
</body>
</html>