<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<script type="text/javascript" th:src="@{/webjars/highlightjs/8.4-4/highlight.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/showdown/0.3.1/compressed/showdown.js}"></script>
	<script type="text/javascript" th:src="@{/js/timeago.min.js}"></script>
	<script>
		$(document).ready(function() {
			$("time.timeago").timeago();
			
			try {
				var $md = $(".markdown");
				$md.html(new Showdown.converter().makeHtml($md.html()));
			} catch (err) {
			}
		});
	</script>
</head>
<body>
<div layout:fragment="content">
    <div layout:include="fragments/git/header :: header">
    	Git Header here
    </div>
   	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title" style="font-weight: bold;">
				<div style="display: inline;" layout:include="fragments/git/breadcrumbs :: breadcrumbs">
					breadcrumbs
				</div>
			</div>
		</div>
		<table class="table">
	   		<tr th:each="file : ${files}">
	   			<td>
	   				<i th:if="${file.directory}" class="fa fa-fw fa-folder"></i>
	   				<i th:if="${!file.directory}" class="fa fa-fw fa-file-o"></i>
	   				&nbsp;&nbsp;
	   				<a th:href="@{/repo/} + ${file.url}" th:text="${file.display}">Filename</a>
				</td>
				<td>
					<span th:if="${!file.directory}" th:text="${file.size} + ' Bytes'">size</span>
				</td>
				<td>
					<time th:if="${!file.directory}" class="timeago" th:attr="datetime=${file.dateTimeString}"></time>
				</td>
				<td>
					<span th:if="${!file.directory}" th:text="${file.commit.shortMessage}">message</span>
				</td>
	   		</tr>
	   	</table>
	</div>
	
   	<div th:if="${readme != null}" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span style="font-weight: bold;">README</span>
			</h3>
		</div>
  		<div class="panel-body markdown" th:text="${readme}">
		</div>
	</div>
</div>
</body>
</html>