<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<script type="text/javascript" th:src="@{/webjars/highlightjs/8.4-4/highlight.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/showdown/0.3.1/compressed/showdown.js}"></script>

	<script type="text/javascript" th:src="@{/js/timeago.min.js}"></script>
	<script>
		$(document).ready(function() {
			$("time.timeago").timeago();
			
			var $md = $(".markdown");
			$md.html(new Showdown.converter().makeHtml($md.html()));
		});
	</script>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${repo.owner} + ' / ' + ${repo.displayName}">owner / name</h1>
    <hr />
    Git URL : <input type="text" size="60" readonly="readonly" th:value="${#httpServletRequest.scheme} + '://' + ${repo.owner} + '@' + ${#httpServletRequest.serverName} + ':' + ${#httpServletRequest.serverPort} + '/repo/' + ${repo.owner} + '/' + ${repo.name}"></input>
    <hr />
   	Branches
   	<ul th:each="branch : ${branches}">
   		<li th:text="${branch}">Branch Name</li>
   	</ul>
   	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span style="font-weight: bold;" th:text="${path == '' ? '/' : path}">path</span>
			</h3>
		</div>
  		<div class="panel-body">
	    	<table class="table">
		   		<tr th:each="file : ${files}">
		   			<td>
		   				<i th:class="${file.directory ? 'fa fa-fw fa-folder' : 'fa fa-fw fa-file-o'}"></i>
		   				&nbsp;&nbsp;
		   				<a th:href="@{/repo/} + ${repo.owner} + '/' + ${repo.displayName} + '/tree/' + ${file.parent} + ${file.name} + ${file.directory ? '' : '?file=true'}" th:text="${file.display}">Filename</a>
					</td>
					<td>
						<span th:if="${!file.directory}" th:text="${file.size} + ' Bytes'">size</span>
					</td>
					<td>
						<time class="timeago" th:if="${!file.directory}" th:attr="datetime=${file.dateTimeString}"></time>
					</td>
					<td>
						<span th:if="${!file.directory}" th:text="${file.commit.shortMessage}">message</span>
					</td>
		   		</tr>
		   	</table>
		</div>
	</div>
	
   	<div th:if="${readme != null}" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span style="font-weight: bold;">README</span>
			</h3>
		</div>
  		<div class="panel-body markdown" th:text="${readme}">
		</div>
	</div>
</div>
</body>
</html>