<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<script type="text/javascript" th:src="@{/js/timeago.min.js}"></script>
	<script>
		$(document).ready(function() {
			$("time.timeago").timeago();
		});
	</script>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${repo.owner} + ' / ' + ${repo.displayName}">owner / name</h1>
    <hr />
    Git URL : <input type="text" size="60" readonly="readonly" th:value="${#httpServletRequest.scheme} + '://' + ${repo.owner} + '@' + ${#httpServletRequest.serverName} + ':' + ${#httpServletRequest.serverPort} + '/repo/' + ${repo.owner} + '/' + ${repo.name}"></input>
    <hr />
   	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span style="font-weight: bold;">Log</span>
			</h3>
		</div>
  		<div class="panel-body">
	    	<table class="table">
		   		<tr th:each="commit : ${commits}">
		   			<td th:text="${commit.shortMessage}"></td>
					<td th:text="${commit.id.name}"></td>
		   		</tr>
		   	</table>
		</div>
	</div>
</div>
</body>
</html>